@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "AccomDashBoard";
}

<body>
    <H2> Accommodation User DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome Accommodation Staff -  @Session["UserName"].ToString() </text>

    }
    <br />
    <h4>List of Tasks</h4> <img class="mySlides" src="~/Resources/Building Approval.png" alt="AMD Image" style="width:50%">
    <hr />

    <ol>
        <li>
            Create new DEASP Elective works requests for approval and funding <pre><button type="button" onclick="location.href='@Url.Action("Create","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>

            List DEASP Elective works Awaiting approval<pre><button type="button" onclick="location.href='@Url.Action("AccomWorksforApproval","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            List DEASP Elective works Awaiting Funding <pre><button type="button" onclick="location.href='@Url.Action("AccomWorksforFunding","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            status of All DEASP Elective works requests<pre><button type="button" onclick="location.href='@Url.Action("DEASPWorksStatus","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            status of All DEASP Elective works requests<pre><button type="button" onclick="location.href='@Url.Action("DEASPWorksRejected","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            Logout<pre><button type="button" onclick="location.href='@Url.Action("Login","Home")'">Logout</button></pre>
            <br />
        </li>
    </ol>
</body>
@* Added <pre> tag to buttons and changed action to 'Submit' *@



