@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "Authorisation";
}

<body>
    <H2> Administrator DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome Administrator -  @Session["UserName"].ToString() </text>

    }
    <br />
    <h4>List of Tasks</h4> <img class="mySlides" src="~/Resources/Admin.png" alt="Admin Image" style="width:50%"height="150">
    <hr />

    <div>
        <ol>
            <li>
                Create new user<pre><button type="button" onclick="location.href='@Url.Action("Create", "Authorisation")'">Submit</button></pre>
                <br />
            </li>
            <li>
                Maintain / List Users <pre><button type="button" onclick="location.href='@Url.Action("Index", "Authorisation")'">Submit</button></pre>
                <br />
            </li>
            <li>
                Create new Property<pre><button type="button" onclick="location.href='@Url.Action("Create", "Property")'">Submit</button></pre>
                <br />
            </li>
            <li>
                Maintain / List Properties <pre><button type="button" onclick="location.href='@Url.Action("Index", "Property")'">Submit</button></pre>
                <br />
            </li>
            <li>
                Create new Work <pre><button type="button" onclick="location.href='@Url.Action("Create", "Work")'">Submit</button></pre>
                <br />
            </li>
            <li>
                Maintain / List works <pre><button type="button" onclick="location.href='@Url.Action("Index", "Work")'">Submit</button></pre>
                <br />
            </li>




            <li>
                Logout<pre><button type="button" onclick="location.href='@Url.Action("Login","Home")'">Logout</button></pre>
                <br />
                <br />
            </li>
        </ol>
    </div>
</body>
