@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "EWDashBoard";
}

<body>
    <H2> Elective_Works User DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome Elective_Works Staff -  @Session["UserName"].ToString() </text>
    }

    <h4>Authorisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usersect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usersect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usersectcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usersectcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Approval_Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Approval_Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkId)
        </dd>

    </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.User_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>











</body>

