@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "EWDashBoard";
}

<body>
    <H2> Elective_Works User DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome Elective_Works Staff -  @Session["UserName"].ToString() </text>
    }

    <


    <br />
    <h4>List of Tasks</h4> <img class="mySlides" src="~/Resources/Men at work cartoon.jpg" alt="AMD Image" style="width:50%">
    <hr />
    <ol>
        <li>
        Create new DEASP works requests for approval and funding <button type="button" onclick="location.href='@Url.Action("Create(work)","Work")'">New Works Request</button>
        <br />
        </li>
        <li>
        List DEASP works requests Awaiting approval <button type="button" onclick="location.href='@Url.Action("WorksforApproval","Work")'">New Works Request</button>
        <br />
        </li>
        <li>
        List DEASP works requests Awaiting Funding <button type="button" onclick="location.href='@Url.Action("Index","Work")'">New Works Request</button>
        <br />
        </li>
        <li>
        List DEASP works requests Awaiting approval <button type="button" onclick="location.href='@Url.Action("Index","Work")'">New Works Request</button>
        <br />
        </li>
    </ol>
</body>

