@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "MEDashBoard";
}

<body>
    <H2>MandE_Works User DashBoard </H2>
    @if (Session["UserName"] != null)
    {
        <text> Welcome M&E_Works Staff -  @Session["UserName"].ToString() </text>
    }

    <br />
    <h4>List of Tasks</h4> <img class="mySlides" src="~/Resources/Men at work cartoon.jpg" alt="AMD Image" style="width:50%">
    <hr />

    <ol>
        <li>
            Create new DEASP Elective works requests for approval and funding <pre><button type="button" onclick="location.href='@Url.Action("Create","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            List DEASP Elective works Awaiting approval<pre><button type="button" onclick="location.href='@Url.Action("MEWorksforApproval","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            List DEASP Elective works Awaiting Funding <pre><button type="button" onclick="location.href='@Url.Action("MEWorksforFunding","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            status of All DEASP Elective works requests<pre><button type="button" onclick="location.href='@Url.Action("MEWorksStatus","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            status of All DEASP Elective works requests<pre><button type="button" onclick="location.href='@Url.Action("MEWorksrejected","Work")'">Submit</button></pre>
            <br />
        </li>
        <li>
            Logout<pre><button type="button" onclick="location.href='@Url.Action("Login","Home")'">Logout</button></pre>
            <br />
        </li>
    </ol>
</body>
@* Added <pre> tag to buttons and changed action to 'Submit' *@
